#### Задачи

1. Импортируйте библиотеку **pandas** как **pd**. Загрузите датасет **bookings.csv** с разделителем **;**. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
4. На сколько ночей в среднем бронируют отели разных типов?
5. Иногда тип номера, полученного клиентом (***assigned_room_type***), отличается от изначально забронированного (***reserved_room_type***). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
6. Проанализируйте даты запланированного прибытия. 
    - На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
    - Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
7. Посмотрите на числовые характеристики трёх переменных: ***adults***, ***children*** и ***babies***. Какая из них имеет наибольшее среднее значение?
8. Создайте колонку ***total_kids***, объединив ***children*** и ***babies***. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
9. Создайте переменную ***has_kids***, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (***total_kids***), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (***churn rate***). Укажите, среди какой группы показатель выше.

##### Описание данных

Имеются следующие переменные:

* Hotel – тип отеля (City Hotel или Resort Hotel)  
* Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
* Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
* Arrival full date – полная дата прибытия
* Arrival date year – год прибытия  
* Arrival date month – месяц прибытия  
* Arrival date week number – номер недели прибытия
* Arrival date day of month – день прибытия
* Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
* Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
* Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
* Adults – число взрослых
* Children – число детей
* Babies – число младенцев 
* Meal – выбранный тип питания
* Country – страна происхождения клиента
* Reserved room type – тип зарезервированного номера
* Assigned room type – тип полученного номера (может отличаться от забронированного)
* Customer type – тип бронирования
* Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
* Reservation status date – дата обновления статуса

###### Information

А вот и наш первый минипроект)

Прежде чем приступим, немного общей информации о минипроектах. В них вам даются данные и ряд вопросов разной сложности. Работайте с ними как вам удобнее. Один из вариантов – анализировать на юпитерхабе, другой – у себя локально в юпитере. Датасэты доступны по ссылке на стэпике и на юпитерхабе в папке ***/shared/homeworks/python_ds_miniprojects***, в частности датасэт для этого минипроекта в папке ***/shared/homeworks/python_ds_miniprojects/2***

Для загрузки датасэта в ***pandas*** по ссылке просто выполните ***pd.read_csv('url')***, где url – ссылка на данные.

В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. Для удобства проверки, далее задачи разбиты на стэпы. В некоторых из них также можно встретить небольшие подсказки. Успехов :)

https://stepik.org/media/attachments/lesson/360344/bookings.csv

#### Task 1
1. Импортируйте библиотеку **pandas** как **pd**. Загрузите датасет **bookings.csv** с разделителем **;**. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [167]:
import pandas as pd
import numpy as np

In [15]:
url = 'https://stepik.org/media/attachments/lesson/360344/bookings.csv'
bookings = pd.read_csv(url, sep=';')
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [16]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

#### Task 2
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [17]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

#### Task 3
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [61]:
bookings[bookings['is_canceled'] == 0]['country'].value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [60]:
bookings[bookings['is_canceled'] == 0].groupby('is_canceled')['country'].value_counts(ascending=False).head(10)

is_canceled  country
0            PRT        21071
             GBR         9676
             FRA         8481
             ESP         6391
             DEU         6069
             IRL         2543
             ITA         2433
             BEL         1868
             NLD         1717
             USA         1596
Name: country, dtype: int64

In [46]:
pd.DataFrame.value_counts?

#### Task 4
4. На сколько ночей в среднем бронируют отели разных типов?

In [64]:
bookings[['hotel', 'stays_total_nights']].head(10)

          hotel  stays_total_nights
0  Resort Hotel                   0
1  Resort Hotel                   0
2  Resort Hotel                   1
3  Resort Hotel                   1
4  Resort Hotel                   2
5  Resort Hotel                   2
6  Resort Hotel                   2
7  Resort Hotel                   2
8  Resort Hotel                   3
9  Resort Hotel                   3

In [67]:
np.round(bookings.groupby('hotel')['stays_total_nights'].mean(), 2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

#### Task 5
5. Иногда тип номера, полученного клиентом (***assigned_room_type***), отличается от изначально забронированного (***reserved_room_type***). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [73]:
bookings[bookings['assigned_room_type'] != bookings['reserved_room_type']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14917 entries, 2 to 119357
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   hotel                      14917 non-null  object
 1   is_canceled                14917 non-null  int64
 2   lead_time                  14917 non-null  int64
 3   arrival_full_date          14917 non-null  object
 4   arrival_date_year          14917 non-null  int64
 5   arrival_date_month         14917 non-null  object
 6   arrival_date_week_number   14917 non-null  int64
 7   arrival_date_day_of_month  14917 non-null  int64
 8   stays_in_weekend_nights    14917 non-null  int64
 9   stays_in_week_nights       14917 non-null  int64
 10  stays_total_nights         14917 non-null  int64
 11  adults                     14917 non-null  int64
 12  children                   14917 non-null  float64
 13  babies                     14917 non-null  int64
 14  meal                       14917 non-null  object
 15  country                    14699 non-null  object
 16  reserved_room_type         14917 non-null  object
 17  assigned_room_type         14917 non-null  object
 18  customer_type              14917 non-null  object
 19  reservation_status         14917 non-null  object
 20  reservation_status_date    14917 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 2.5+ MB

In [74]:
len(bookings[bookings['assigned_room_type'] != bookings['reserved_room_type']])

14917

In [76]:
bookings[bookings['assigned_room_type'] != bookings['reserved_room_type']].count()[0]

14917

#### Task 6
6. Проанализируйте даты запланированного прибытия. 
    - На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
    - Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [85]:
bookings[bookings['arrival_date_year'] == 2016]['arrival_date_month'].mode()

0    October
dtype: object

In [88]:
bookings[bookings['arrival_date_year'] == 2016]['arrival_date_month'].value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [86]:
bookings[bookings['arrival_date_year'] == 2017]['arrival_date_month'].value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [121]:
bookings.query('arrival_date_year == [2016, 2017]').groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2016               October               6203
                   May                   5478
                   April                 5428
                   September             5394
                   June                  5292
                   August                5063
                   March                 4824
                   July                  4572
                   November              4454
                   February              3891
                   December              3860
                   January               2248
2017               May                   6313
                   April                 5661
                   June                  5647
                   July                  5313
                   March                 4970
                   August                4925
                   February              4177
                   January               3681
Name: arrival_date_month, dtype: int64

In [127]:
bookings[(bookings['hotel'] == 'City Hotel') & (bookings['is_canceled'] == 1)].pivot_table(index='arrival_date_year', columns='arrival_date_month', values='is_canceled', aggfunc=np.sum, fill_value=0).idxmax(axis=1)

arrival_date_year
2015    September
2016      October
2017          May
dtype: object

In [122]:
bookings.query("hotel == 'City Hotel'")\
        .groupby(['arrival_date_year', 'arrival_date_month'])\
        .agg({'is_canceled': 'sum'})\
        .reset_index(level='arrival_date_month')\
        .pivot(columns='arrival_date_month')\
        .idxmax(axis=1)

arrival_date_year
2015    (is_canceled, September)
2016      (is_canceled, October)
2017          (is_canceled, May)
dtype: object

In [97]:
pd.DataFrame.pivot_table?

#### Task 7
7. Посмотрите на числовые характеристики трёх переменных: ***adults***, ***children*** и ***babies***. Какая из них имеет наибольшее среднее значение?

In [124]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

#### Task 8
8. Создайте колонку ***total_kids***, объединив ***children*** и ***babies***. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [128]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.pivot_table(index='hotel', values='total_kids', aggfunc=np.mean).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

#### Task 9
9. Создайте переменную ***has_kids***, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (***total_kids***), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (***churn rate***). Укажите, среди какой группы показатель выше.

In [114]:
bookings['has_kids'] = bookings['total_kids'] >=1
bookings['has_kids'].head()

0    False
1    False
2    False
3    False
4    False
Name: has_kids, dtype: bool

In [158]:
people_without_kids = bookings[(bookings['has_kids'] == False) & (bookings['is_canceled'] == 1)].shape[0]

In [159]:
people_with_kids = bookings[(bookings['has_kids']) & (bookings['is_canceled'] == 1)].shape[0]

In [166]:
np.round([people_with_kids / total_people_with_kids, people_without_kids / total_people_without_kids], 4) * 100

array([34.92, 37.22])

In [160]:
total_people_with_kids = bookings[bookings['has_kids']].shape[0]
total_people_with_kids

9332

In [165]:
total_people_without_kids = bookings[bookings['has_kids'] == False].shape[0]
total_people_without_kids

110058